.head-btn {
    position: absolute;
    // top: 0rem;
    right: 5rem;
    color: #3a52bf;
    cursor: pointer;
    visibility: visible;
    // line-height: 80px;
    @include transition-ease;
    
}
.nav{
    //     @extend .head-btn;
    visibility: hidden;
    position: relative;
    // overflow: hidden;
    
    .nav-menu-item{
        float: left;
        height: 80px;
        // display: inlines;
        line-height: 80px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 15px;
        position: relative;
        
        a{
            @include set-text-bg-color($primary-color);
            
            i{
                padding-left:  7px;
                font-size: 12px;
                
            }
            &:hover{
                color: #5234f9;
            }
        }
        ul{
            // line-height: 1.2;
            position: absolute;
            // top: 70px;
            margin-top: -7px;
            width: 240px;
            background: #f5f5f5;
            box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
            visibility: hidden;
            z-index: 1;
            
            li{
                line-height: 1.4;
                width: 100%;
                font-size: 14px;
                padding: 6px 24px;
                text-transform: none;
                font-weight: 400;
                // line-height: 24px;
                a{
                    display: inline-block;
                    width: 70%;   
                    background: none;   
                    color:$petit-color;
                    // color: rgb(0 0 0 / 20%);
                    
                }
                &:hover{
                    background: #f8f8f8;
                }
            }
        }
        &:hover ul{
            visibility: visible;
        }
        &:active ul{
            visibility: visible;
        }
        
        &:last-child{
            // position: relative;
            padding-left:  45px;
            a{
                padding-right: 7px;
                color: #3a52bf;
            }
            &:hover form{
                visibility: visible;
            }
        }
        form{
            float: left;
            position: absolute;
            right: 0;
            // top: 70px;
            margin-top: -7px;
            display: flex;
            align-items: center;
            width: 300px;
            height: 66px;
            padding: 7px;
            background: #fff;
            visibility: hidden;
            z-index: 1;
            
            input{
                font-size: 16px;
                padding-left: 20px;
                font-weight: 500;
                height: 100%;
                width: 70%;
                cursor: pointer;
                background: #f5f5f5;
                border: 1px solid #eee;
                &:hover{
                    border-color: #745cf9;
                }
                
            }
            button{
                // @include set-btn;
                @include set-text-bg-color($btn-color);
                height: 100%;
                border: 1px solid #745cf9;
                padding: 8px 10px; 
                margin-left: 5px;
                
            }
        }
    }
    &.open{
        visibility: visible;
        position: absolute;
        top: 80px;
        width: 100%;
        // height: auto;
        background: inherit;
        overflow: hidden;
        
        .nav-menu-item{
            width: 100%;
            height: 10px;
            line-height: 1;
            margin-left: 8%;
            
            &:last-child{
                padding-left:  0px;
            }
            
            ul{
                margin-top: 5px;
                margin-left: 100px;
                li{
                  
                }
                
            }
            &:last-child{
                margin-bottom: 2rem;
            }

            form{
                position: absolute;
                left: 1rem;
                // top: 70px;
                margin-top: -2.6rem;
                visibility: visible;
                z-index: 0;
            
                input{
                    font-size: 14px;
                    padding-left: 7px;
                    background: #fff;
                    border: 0px none transparent;
                    &:hover{
                        border-color: #fff;
                    }   
                }
                button{
                    visibility: hidden;
                }
            }
        }
    }
    
}
